<div class="container game-container">
    {{currentStateIndex}} / {{totalStates}}
    <div class="panel panel-body pokertable">
        <div id="community-cards">
            <div id="flop">
                <card ng-repeat="flopCard in currentState.flopCards" ng-attr-card="flopCard" />
            </div>
            <div id="turn">
                <card ng-if="currentState.turnCard !== undefined" ng-attr-card="currentState.turnCard" />
            </div>
            <div id="river">
                <card ng-if="currentState.riverCard !== undefined" ng-attr-card="currentState.riverCard" />
            </div>
        </div>
        <div id="pot">
            <span class="label label-success">Pot: {{currentState.pot}} €</span>
        </div>
        <div id="controls">
            <a id="beginning-button">Beginning</a>
            <a id="back-button" ng-click="previousState()">Back</a>
            <a id="play-button">Play</a>
            <a id="next-button" ng-click="nextState()">Next</a>
            <a id="end-button">End</a>
        </div>
    </div>

    <div id="playerContainer">
        <div ng-repeat="player in currentState.players">
            <div class="panel panel-default player-panel {{currentState.dealer === player.id ? 'dealer' : ''}} {{currentState.on_turn === player.id ? 'on-turn' : ''}}">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="name">{{player.name}}</span><br/>
                        <span class="label label-default">{{player.stack}} €</span></h3>
                </div>
                <div class="panel-body hole-cards">
                    <card ng-repeat="playerCard in player.hole_cards" ng-attr-card="playerCard" />
                </div>
                <div class="panel-footer">Current status:<br/>
                    <span ng-switch on="player.status" class="label status-{{player.status}}">
                        <span ng-switch-when="active">Bet: {{player.bet}} &euro;</span>
                        <span ng-switch-when="folded">Folded</span>
                        <span ng-switch-when="out">Out</span>
                        <span ng-switch-default>{{player.status}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info clearfix message-container">
        <h4>{{currentState.message}}</h4>
    </div>
</div>
