.player-panel {
    width: 150px;
    float: left;
    margin: 15px;
    text-align: center;
}

.player-panel .panel-body div:first-child {
    margin-left: 15px;
}

.container.game-container {
    max-width: 930px;
}

.spades{
    color: black;
}
.spades:after {
    content: '♠';
    display: block;
}

.clubs {
    color: black;
}
.clubs:after {
    content: '♣';
    display: block;
}

.diamonds{
    color: red;
}

.diamonds:after{
    content: '♦';
    display: block;
}
.hearts{
    color: red;
}

.hearts:after{
    content: '♥';
    display: block;
}

.card {
    float: left;
    margin-right: 5px;
    font-size: 30px;
    border-radius: 3px;
    border: 1px lightgrey solid;
    width: 40px;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
    line-height: 20px;
}

.pokertable {
    clear:both;
    background-color: #cdf5ca;
}

#community-cards {
}

#community-cards>div {
    margin-right: 10px;
    float:left;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
#pot {
    font-size: 25px;
    display:block;
    float:right;
}

#controls {
    float:right;
    clear:right;
    margin-top: 10px;
}

#templates {
    display: none;
}

.dealer .panel-heading,
.dealer .panel-footer {
    background-color: #dde7fd;
}

.on_turn,
.on_turn  {
    border-color: indianred;
}